In [1]:
my_list=[1,2,3,4,5]

In [3]:
for number in my_list: # listedeki her bir elemanı tek tek al ve onları numkber diye bir değişkene ata
    print("number")

number
number
number
number
number

In [4]:
for item in my_list:
    new_number=item*5
    print(new_number)

5
10
15
20
25

In [6]:
for number in my_list:
    if number%2==0:
        print(number)

2
4

In [7]:
if 2 in my_list:
    print("true")

ltrue

In [8]:
for num in my_list:
    if(num==2):
        print("true")

true

In [1]:
my_string="James Hetfield"

In [3]:
for letter in my_string:
    print(letter)

J
a
m
e
s

H
e
t
f
i
e
l
d

In [12]:
my_tuple=(1,2,3)

In [14]:
for item in my_tuple:
    print(item *5-10)

-5
0
5

In [2]:
my_new_list=[("a","b"),("c","d"),("e","f"),("g","h")]

In [3]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [9]:
for (x,y) in my_new_list:
    print(x)

a
c
e
g

In [10]:
my_tuple_list=[(0,1,2),(3,4,5),(9,10,11)]

In [11]:
for (x,y,z) in my_tuple_list:
    print(x)

0
3
9

In [17]:
for x,y,z in my_tuple_list:
    print(z)

2
5
11

In [13]:
my_dictionary={"key1":100,"key2":200,"key3":300}

In [15]:
for key,value in my_dictionary.items():
    print(a)

key1
key2
key3

In [16]:
for key,value in my_dictionary.items():
    print(b)

100
200
300