# class

In [1]:
my_list=list()

# instance & attribute

In [15]:
class Musician():
    def __init__(self,name,age):
        self.name_attribute=name
        self.age_attribute=age

In [16]:
my_musician=Musician("cem",50)

In [17]:
my_musician.age_attribute

50

In [18]:
my_musician.name_attribute

'cem'

In [10]:
my_musician.name="Barış"

In [11]:
my_musician.name

'Barış'

In [42]:
class Musician():
    
    job="musician"
    
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    # methot
    def sing(self):
        print(f"we are the champions {self.name}")

In [43]:
my_musician_2=Musician("Cem",50)

In [44]:
my_musician_2.job

'musician'

In [45]:
my_musician_2.job="singer"

In [46]:
my_musician_2.job

'singer'

In [47]:
my_musician_2.sing()

we are the champions Cem

In [57]:
class DogYears():
    
    year_factor=7
    
    def __init__(self,age):
        self.age=age
        
    def calculation(self):
        return self.age*self.year_factor

In [58]:
my_dog=DogYears(3)

In [59]:
my_dog.age

3

In [60]:
my_dog.calculation()

21

In [68]:
class DogYears2():
    
    year_factor=7
    
    def __init__(self,age=5):
        self.age=age
        self.name="Bar"
        
    def calculation(self):
        return self.age*self.year_factor

In [69]:
my_dog_2=DogYears2() # birşey yamayınca

In [70]:
my_dog_2.age

5

In [71]:
my_dog_2.calculation()

35

In [72]:
my_dog_2.name

'Bar'

# inheritance (miras)

In [73]:
class Class1():
    
    def __init__(self):
        print("Class1 created")
        
    def method_1(self):
        print("methot 1")
        
    def method_2(self):
        print("method 2")

In [75]:
my_instance=Class1()

Class1 created

In [ ]:
my_instance.method_1()

In [78]:
my_instance.method_2()

method 2

In [94]:
class Class2(Class1):
    
    def __init__(self):
        Class1.__init__(self)
        print("Class 2 created")
        
    def method_3(self):
        print("method 3")
        
    # override: Class1 deki methot 1 geçersiz sayılır bu çağrılırsa
    def method_1(self):
        print("method 1 override")

In [95]:
my_instance_2=Class2()

Class1 created
Class 2 created

In [96]:
my_instance_2.method_1()

method 1 override

In [97]:
my_instance_2.method_3()

method 3

# polymorphism

In [1]:
class Apple():
    def __init__(self,name):
        self.name=name
        
    def information(self):
        return self.name+" 100 calories"

In [2]:
class Banana():
    def __init__(self,name):
        self.name=name
        
    def information(self):
        return self.name+" 200 calories"

In [3]:
banana=Banana("banana")

In [4]:
apple=Apple("apple")

In [5]:
banana.information()

'banana 200 calories'

In [6]:
apple.information()

'apple 100 calories'

In [7]:
fruit_list=[banana,apple]

In [8]:
for fruit in fruit_list:
    print(fruit.information())

banana 200 calories
apple 100 calories

In [9]:
def get_info(fruit):
    print(fruit.information())

In [11]:
get_info(banana)

banana 200 calories

In [12]:
get_info(apple)

apple 100 calories